.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
header {
    flex: 1;
    max-height: 70px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    background-color: var(--background-shade-2);
    margin: 5px;
    border-radius: 10px;
}
.content {
    flex: 1;
    display: flex;
    overflow: hidden;
}
footer {
    flex: 1;
    max-height: 80px;
    min-height: 80px;
    background-color: var(--background-shade-2);
    margin: 5px;
    border-radius: 10px;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    padding: 10px;
}
.video {
    flex: 1;
    margin-inline-start: 5px;
    border-radius: 10px;
    background-color: var(--background-shade-1);
    border: 2px solid var(--background-shade-3);
    overflow: hidden;
    display: flex;

    flex-direction: column;
    position: relative;
}
.video > video {
    max-width: 100%;
    max-height: 100%;
    object-fit: fit;

    aspect-ratio: 1;
    outline: none;
}
.videoSmall {
    position: absolute;
    aspect-ratio: 4/3;
    height: 200px;
    bottom: 20px;
    left: 20px;
    border-radius: 10px;
    background-color: black;
    overflow: hidden;
}
.videoSmall > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat {
    background-color: var(--background-shade-2);
    flex: 1;
    max-width: 400px;
    margin-inline: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.chat > .msg {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.chat > .msg > :first-child {
    margin-top: auto;
}
.chat > .msg > .sent,
.chat > .msg > .received {
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    overflow-wrap: anywhere;
    border: 1px solid var(--accent-shade-1);
    width: fit-content;
}
.chat > .msg > .sent {
    align-self: flex-end;
    background-color: var(--background-shade-4);
}
.chat > .msg > .received {
    background-color: var(--background-shade-3);
}
.chat > .textArea {
    flex: 0 0 auto;
    max-height: 70px;
    padding: 10px;
    display: flex;
    gap: 5px;
}
.chat > .textArea > textarea {
    flex: 3;
    background-color: var(--background-shade-3);
    border: 2px solid var(--background-shade-4);
    border-radius: 8px;
    font-size: large;
    padding: 12px 10px;
    resize: none;

    font-family: inherit;
    font-size: inherit;
}
.chat > .textArea > button {
    flex: 1;
    background-color: var(--background-shade-4);
    border: none;
    border-radius: 8px;
}
footer > button {
    background-color: var(--background-shade-3);
    border: 2px solid var(--background-shade-4);
    border-radius: 8px;
    width: 100px;
}
footer > button:hover {
    background-color: var(--background-shade-4);
}
button {
    font-size: large;
}
.skip {
    border: 2px solid var(--primary);
}
.toggle {
    visibility: hidden;
}

@media (max-width: 900px) {
    .videoSmall {
        position: relative;
        flex: 1;

        bottom: 0;
        left: 0;
        border-radius: 0;

        width: 100%;
        min-height: 50%;

        background: none;
        border-top: 2px solid var(--background-shade-3);

        object-fit: cover;
    }
    .video > video {
        /* flex: 1; */
        flex: 1;
        height: 50%;
        object-fit: cover;
    }
}

@media (max-width: 750px) {
    .chat {
        display: none;
        min-width: 98%;
    }
    .toggle {
        visibility: visible;
    }
    .video {
        margin-right: 5px;
    }
}

@media (min-width: 750px) {
    .show,
    .hide {
        display: flex !important;
    }
}

.show {
    display: flex;
}
.hide {
    display: none;
}
